body{
    background-color: #d1d1d1;
}

#main-container div{
    margin:20px 0px 20px 0px;
}
.navbar-brand{
    margin-right: 40px;
    font-size: 18px;
}

.nav-link{
    background: rgba(1,1,1,0.4);
    color: #fff !important;
}

.nav-icon{
    color: #fff;
    margin-right: 25px;
    display: inline-flex;
    align-items: center;
}

i.fa.fa-1-5x.fa-search {
    font-size: 20px;
    border: solid;
}

button.form-control {
    min-height: 48px;
}
